#setting-box {
  position: absolute;
  width: 720px;
  height: 500px;
  background-color: white;
  bottom: 3rem;
  left: 1rem;
  display: flex;
  border-radius: 5px;
}

#setting-nav-box {
  width: 155px;
  height: 475px;
  padding-top: 25px;
  border-right: 0.5px;
  border-color: rgb(181, 180, 180);
  border-style: solid;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#setting-contents-box {
  width: 490px;
  height: 475px;
  padding-top: 25px;
  padding-left: 60px;
  padding-right: 25px;
  overflow-y: scroll;
}
#setting-icon {
  opacity: 50%;
  cursor: pointer;
}
#setting-icon:hover {
  opacity: 100%;
  cursor: pointer;
}

.setting-nav-item {
  font-size: 16px;
  font-weight: 900;
  color: gray;
  padding-bottom: 10px;
  text-shadow: 0;
  cursor: pointer;
  padding-left: 25px;
}
#name-change-btn {
  border-radius: 15px;
  border: 0px;
  color: white;
  background-color: olivedrab;
  width: 125px;
  height: 40px;
  margin-left: 13.7px;
  margin-bottom: 15px;
  cursor: pointer;
}
.actived {
  color: black;
}
#general-box {
}
#general-item-list {
  margin-top: 10px;
}
.setting-item {
  border-top: 1px;
  border-color: gray;
  border-style: solid;
  margin-bottom: 5px;
  padding-left: 10px;
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#general-show {
  font-size: 19px;
  font-weight: 1000;
  margin-bottom: 10px;
}
.background-img-list {
  width: 200px;
  height: 133px;
  aspect-ratio: auto 1 / 1;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
#background-img-box {
}
#quotes-box {
}
.quotes-list {
  margin-bottom: 15px;
  border-top: 1px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.195);
  cursor: pointer;
  width: 370px;
}
.quote-line {
  margin-top: 10px;
}
.author {
  color: gray;
  font-weight: 500;
}

#setting-contents-header {
  width: 400px;
  height: 100px;
}
#setting-topic {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 10px;
}
#setting-desc {
  font-size: 1rem;
  color: gray;
  margin-left: 10px;
}
